<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demo_book.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Demo_book.Properties.Settings.bookmarketConnectionString"
            connectionString="Data Source=KHOLODOVCOMP;Initial Catalog=bookmarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Demo_book.Properties.Settings>
            <setting name="role" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nom_order" serializeAs="String">
                <value>0</value>
            </setting>
        </Demo_book.Properties.Settings>
    </userSettings>
</configuration>